/* Bali.css */
.Bcontainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.Bcontent {
    flex: 3;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    font-size: larger;
    box-sizing: border-box;
}

.Bcontent h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}

.sidebar {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.sidebar h3 {
    margin-top: 36px;
    margin-bottom: 29px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    font-size: larger;
    margin-top: 23px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.Bimage-section {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
    overflow: hidden;
}

.Bimage-section::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.Bimage-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Bimage-section.img-one {
    background-image: url("../static/B1.jpg");
}

.Bimage-section.img-one-T {
    background-image: url("../static/B2.jpg");
}

.author-info {
    font-size: larger;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.5;
}

.author-info img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .Bcontainer {
        flex-direction: column;
    }

    .sidebar {
        margin-top: 20px;
    }

    .Bcontent {
        padding: 15px;
        font-size: medium;
    }

    .sidebar ul {
        font-size: medium;
    }
    
    .author-info {
        font-size: medium;
    }

    .Bimage-section::before {
        padding-top: 75%; 
    }
}

@media (max-width: 768px) {
    .Bcontainer {
        flex-direction: column;
    }

    .sidebar {
        order: 2;
        margin-top: 20px;
    }

    .Bcontent {
        order: 1;
        padding: 10px;
        font-size: medium;
    }

    .sidebar ul {
        font-size: medium;
    }
    
    .author-info {
        font-size: medium;
    }

    .Bimage-section::before {
        padding-top: 100%; 
    }
}

@media (max-width: 480px) {
    .Bcontainer {
        flex-direction: column;
        padding: 10px;
    }

    .Bcontent, .sidebar {
        padding: 10px;
    }

    .Bcontent {
        font-size: small;
    }

    .sidebar ul {
        font-size: small;
    }
    
    .author-info {
        font-size: small;
    }

    .Bimage-section::before {
        padding-top: 100%; 
    }
}
